<!-- app/templates/application.hbs -->
<div class="container">
  <div class="menu">
    <a href={{cardstack-url 'page' ' '}}>
      <h1>
        <em>SuperRentals</em>
      </h1>
    </a>
    <div class="links">
     <!-- we removed the other links from here -->
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
